name: Android CI Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Install Gradle 8.5
      run: |
        curl -L https://services.gradle.org/distributions/gradle-8.5-bin.zip -o gradle-8.5-bin.zip
        unzip gradle-8.5-bin.zip
        echo "$PWD/gradle-8.5/bin" >> $GITHUB_PATH

    - name: Generate Gradle Wrapper
      run: gradle wrapper

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew :app:assembleDebug
      
    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: AbuAlZahra-Parent-App
        path: app/build/outputs/apk/debug/app-debug.apk
